<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    <link rel="stylesheet" href="static/css/banana-style.css">
</head>
<body>
    <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        Python: <a href="/python">python</a>
        Lua: <a href="/lua">lua</a>
        Lua intensiv: <a href="/lua_intensiv">lua - intensiv</a>
        Coding Roblox: <a href="/coding_roblox">Coding Roblox</a>
        ideology: <a href="/ideology">ideology</a>
    </div>

    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>
</html>
